{{#discovery-categories refresh=(action "refresh")}}
<div class="custom-topic-list-label">
  Forums
</div>
  {{component categoryPageStyle
              categories=model.categories
              topics=model.topics}}
{{/discovery-categories}}
