<!--<div class="custom-breadcrumbs">
  <a href="/">Forums</a> {{d-icon "angle-right"}} <a href="/latest">Topics</a> {{d-icon "angle-right"}}  Topic Details
</div>-->
<div class="custom-topic-list-label">
  {{d-button action="goBack" class="btn-flat btn-custom-back" icon="arrow-left"}}<span>Topic Details</span>
</div>
