.custom-topic-list-label {
  padding: 0.75em;
  font-size: $font-up-2;
  color: white;
  background: #4b8ffa;
  display: flex;
  align-items: center;
  span {
    padding-top: 0.15em;
  }
  a {
    padding-right: 0.5em;
    border-right: 1px solid $primary;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
    .d-icon {
      color: $secondary;
    }
  }
}

.custom-topic-list-title {
  padding: 1em;
  background: #fbfcfe;
  font-size: $font-down-2;
  text-transform: uppercase;
  font-weight: bold;
  &.pinned {
    td {
      color: #ed9c31;
    }
  }
}

.poster-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85em;
  flex: 1 1 100%;
  margin: 0.15em 0;
  > div {
    margin-right: 0.25em;
  }
}

.replies-views-wrap,
.last-poster-wrapper {
  display: flex;
}

.post-count {
  color: $primary;
  font-size: $font-down-1;
}

.bulk-select {
  display: inline-block;
  float: left;
}

.custom-topic-list-header {
  th {
    font-weight: bold;
  }

  align-items: center;
  background: white;
  color: #64758c;
  font-weight: bold;
  padding: 1em 0.5em;
  border-bottom: 1px solid $primary-low;

  tr th {
    font-weight: bold;
    color: #64758c;
  }

  .topic-list-header-lable {
    white-space: nowrap;
    .label-separator {
      margin: 0 0.15em;
    }
    font-size: $font-down-1;
    &.topics {
    }
    &.replies-views {
      text-align: center;

      .posts,
      .views {
        width: auto;
      }
    }
    &.last-post {
      flex: 0 1 15%;
      padding: 0.75em;
    }
  }
}

.category-meta-wrapper {
  padding: 1em 0.5em;
  background: white;
  font-size: $font-up-1;
  color: #32384a;
  .category-name {
    font-size: $font-up-1;
    margin-bottom: 0.5em;
  }
}

.topic-list-item {
  background: white;
  border-top: 1px solid $primary-low;
  &:last-child {
    border-bottom: 1px solid $primary-low;
  }

  align-items: center;
  .views {
    width: auto;
  }
  .topic-meta {
    flex: 0 0 15%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: $font-down-1;
  }
  .topic-likes {
    justify-content: center;
    flex: 0 0 5%;
    .likes {
      width: auto;
    }
  }
  .main-link {
    flex: 0 0 65%;
    font-size: $font-0;
  }

  .main-link,
  .topic-meta,
  .topic-last-poster,
  .topic-likes {
    padding: 0.75em;
    align-self: stretch;
    border-right: 1px solid $primary-low;
    box-sizing: border-box;
  }

  .topic-likes {
    border-right: none;
    font-size: $font-down-1;
  }

  .topic-last-poster {
    flex: 0 0 15%;
    align-items: center;
    font-size: $font-down-1;
    .poster-avatar {
      display: flex;
      align-items: center;
      margin-right: 0.5em;
    }
    .last-poster-meta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .age {
        width: auto;
        a {
          padding: 0;
        }
      }
    }
  }
}

.topic-statuses {
  .d-icon-thumbtack {
    color: #ed9c31;
  }
}

.title-wrapper .topic-statuses .d-icon-thumbtack {
  color: #ed9c31;
}

.timeline-container {
  box-sizing: border-box;
  z-index: z("timeline");
  margin-left: 757px;

  @include breakpoint(extra-large, min-width) {
    margin-left: 740px;
  }
  @media all and (min-width: 1220px) {
    margin-left: 760px;
  }
  @media all and (min-width: 1270px) {
    margin-left: 800px;
  }
  @media all and (min-width: 1320px) {
    margin-left: 850px;
  }
  @media all and (min-width: 1420px) {
    margin-left: 950px;
  }
}
