.custom-topic-list-title {
  padding: 1em;
  background: #fbfcfe;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: normal;
  td {
    color: $primary;
  }
  &.pinned {
    td {
      color: #ed9c31;
    }
  }
}

.poster-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 100%;
  margin: 0.15em 0 0.25em;
  > div {
    margin-right: 0.25em;
  }
  .poster-name {
    font-weight: normal;
    a {
      color: $primary;
    }
  }
}

.replies-views-wrap,
.last-poster-wrapper {
  display: flex;
}

.replies-views-wrap {
  justify-content: center;
}

.post-count {
  color: $primary;
  font-size: 0.92em;
  div:last-of-type:not(:first-of-type) {
    color: #5b6c86;
    font-size: 0.92em;
    margin-top: 2px;
  }
}

.bulk-select {
  display: inline-block;
  float: left;
}

.custom-topic-list-header {
  th {
    font-weight: normal;
  }

  align-items: center;
  background: white;
  color: #64758c;
  font-weight: bold;
  padding: 1em 0.5em;
  border-bottom: 1px solid $primary-low;

  tr th {
    font-weight: normal;
    color: #5b6c86;
  }

  .topic-list-header-lable {
    white-space: nowrap;
    font-size: 0.8em;

    .label-separator {
      margin: 0 0.15em;
    }
    &.topics {
    }
    &.replies-views {
      text-align: center;

      .posts,
      .views {
        width: auto;
      }
    }
    &.last-post {
      flex: 0 1 15%;
      padding: 0.75em;
    }
  }
}

.category-meta-wrapper {
  padding: 1em 0.75em;
  background: white;
  font-size: 1em;
  color: #32384a;
  position: relative;
  .category-name {
    font-size: $font-up-1;
    margin-bottom: 0.5em;
  }

  .combo-box {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.topic-list-item {
  background: white;
  border-top: 1px solid $primary-low;
  &:last-child {
    border-bottom: 1px solid $primary-low;
  }

  align-items: center;
  .views {
    width: auto;
  }
  .topic-meta {
    flex: 0 0 15%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: $font-down-1;
    background: #fbfcfe;
    width: 100px;
  }
  .topic-likes {
    justify-content: center;
    flex: 0 0 5%;
    .likes {
      width: auto;
    }
  }
  .main-link {
    flex: 0 0 65%;
    font-size: 0.87em;
  }

  .main-link,
  .topic-meta,
  .topic-last-poster,
  .topic-likes {
    padding: 0.75em;
    align-self: stretch;
    border-right: 1px solid $primary-low;
    box-sizing: border-box;
  }

  .link-bottom-line {
    font-size: 0.92em;
    color: #5b6c86;
  }

  .topic-likes {
    border-right: none;
    font-size: $font-down-1;
  }

  .topic-last-poster {
    flex: 0 0 15%;
    width: 200px;
    align-items: center;
    font-size: 0.8em;
    padding: 0.75em 1.5em;
    .poster-avatar {
      display: flex;
      align-items: center;
      margin-right: 0.5em;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .last-poster-meta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .age {
        width: auto;
        margin-top: 2px;
        font-size: 0.92em;
        color: #5b6c86;
        a {
          padding: 0;
        }
      }
    }
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: $tertiary;
  font-weight: 400;
}

.topic-statuses {
  .d-icon-thumbtack {
    color: #ed9c31;
  }
}

.title-wrapper .topic-statuses .d-icon-thumbtack {
  color: #ed9c31;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: #551a8b;
}

.topic-list th:first-of-type,
.topic-list td:first-of-type {
  padding-left: 1em;
}
