#custom-categories {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  td {
    padding: 1em;
    border-top: 1px solid $primary-low;
    border-bottom: 1px solid $primary-low;
  }
  th {
    padding: 2.25em 1em 1em;
    font-size: 0.8em;
    color: #5b6c86;
    &.custom-directory-header {
      width: 100%;
    }
  }
  tbody {
    &.hide-categories {
      tr:not(:first-of-type) {
        display: none;
      }
    }
  }
}

.custom-category-title {
  width: 100%;
  min-width: 130px;
  img {
    float: left;
    margin-right: 1em;
    margin-top: 0.35em;
    min-height: 35px;
  }
  h3 {
    font-weight: normal;
    font-size: 1em;
  }
  p {
    color: $primary;
    font-size: 0.8em;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.custom-categories-group {
  font-size: 0.8em;
  text-transform: uppercase;
  background: $primary-very-low;
  font-weight: 500;

  td {
    > div {
      display: flex;
      align-items: center;
    }
    padding: 0.5em 1em;
    border: none;
  }

  .btn-category-group-toggle {
    background: transparent;
    margin-left: auto;
    font-size: 1.5em;
    padding: 0 0.5em 0 1em;
    .d-icon {
      color: #5b6c86;
    }
    .discourse-no-touch & {
      &:hover {
        background: transparent;
      }
    }
  }
}

.custom-categories-lastpost {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  min-width: 160px;
  .lastpost-text {
    overflow: hidden;
  }
  @media screen and (min-width: 1300px) {
    .lastpost-text {
      min-width: 200px;
    }
  }
  color: #5b6c86;
  img {
    margin-right: 0.5em;
  }
}

.custom-comment-count,
.custom-topic-count {
  text-align: center;
  @media screen and (min-width: 1100px) {
    min-width: 85px;
    max-width: 85px;
  }
  box-sizing: border-box;

  &:not(th) {
    border-left: 1px solid $primary-low;
    border-right: 1px solid $primary-low;
    font-size: 0.933em;
    background: $primary-very-low;
  }
}

.custom-comment-count {
  @media screen and (max-width: 867px) {
    display: none;
  }
}

.custom-lastpost {
  padding: 1em !important;
  width: 250px;
  min-width: 250px;
  @media screen and (max-width: 1100px) {
    min-width: 100px;
  }
}

.btn-category-group-toggle {
  pointer-events: all;
  > * {
    pointer-events: none;
  }
}

.hide-children {
  tr:not(:first-child) {
    display: none;
  }
  .btn-category-group-toggle {
    transform: rotate(180deg);
    padding: 0 1em 0 0.5em;
  }
}

.custom-lastpost,
.custom-categories-lastpost {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
