<!--<div class="custom-breadcrumbs">
  <a href="/">Forums</a> {{d-icon "angle-right"}} Topics
</div>-->
{{#unless skipHeader}}
  <div class="custom-topic-list-label">
    Topics
  </div>

{{#if category}}
    <div class="category-meta-wrapper">
      <div class="category-name">
        {{category.name}}
      </div>
      <div class="category-description">
        {{category.description}}
      </div>

      {{custom-filter}}

    </div>
{{/if }}
{{/unless}}
