$border-radius: 4px;

html {
  background: #eff6ff;
  .wrap {
    max-width: unset;
  }
}

.btn {
  border-radius: $border-radius;
  border: 1px solid transparent;
  .discourse-no-touch & {
    &:hover {
      background: $primary-low;
      color: $primary-high;
      .d-icon {
        color: $primary-high;
      }
    }
  }
}

.btn-default {
  background: linear-gradient(180deg, $primary-very-low 0%, $primary-low 100%);
  border-color: $primary-low;

  .discourse-no-touch & {
    &:hover {
      color: $primary;
      border-color: $primary-low;

      .d-icon {
        color: $primary-high;
      }
      background: linear-gradient(
        180deg,
        $primary-low 0%,
        $primary-very-low 100%
      );
    }
  }
}

.btn-primary {
  background: linear-gradient(
    180deg,
    rgba(75, 143, 250, 1) 0%,
    rgba(75, 83, 250, 1) 100%
  );
  border-color: #4b53fa;
  .discourse-no-touch & {
    &:hover {
      color: $secondary;
      background: linear-gradient(
        180deg,
        rgba(75, 143, 250, 1) 100%,
        rgba(75, 83, 250, 1) 0%
      );
      .d-icon {
        color: $secondary;
      }
      border-color: #4b8ffa;
    }
  }
}

.d-editor-button-bar {
  .btn-default {
    background: transparent;
    .discourse-no-touch & {
      &:hover {
        background: $primary-low;
      }
    }
  }
}

.nav-pills > li > a:hover,
.nav-pills > li a.active {
  border-radius: $border-radius;
}

.custom-top-container {
  display: flex;
  flex: 1 1 auto;
}

#main-outlet {
  flex: 1 1 auto;
  &.wrap {
    padding: 6em 1em 0;
  }
}

#main > div {
  display: flex;
  box-sizing: border-box;
  max-width: calc(100vw - 25px);
}

.list-controls {
  display: none;
}

.drop-down-mode .d-header-icons .active .icon::after {
  border-width: 2px;
}

.d-header {
  box-shadow: none;

  .title a {
    color: $primary-medium;
  }

  #site-text-logo {
    font-weight: normal;
    font-size: $font-up-1;
  }

  .wrap {
    max-width: unset;
  }
  .d-header-icons {
    li {
      padding: 0 0.15em 0;
    }
    .current-user {
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      &:hover {
        background: $primary-low;
      }
      &.active {
        border: 1px solid $primary-low;
        border-bottom: none;
        &:hover {
          background: $secondary;
        }
        a.icon {
          border: none;
        }
        .header-username:after {
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1001;
          width: 100%;
          height: 0;
          content: "";
          border-top: 1px solid #fff;
        }
      }
      a.icon {
        border: none;
        &:hover,
        &:focus {
          border: none;
          background: transparent;
        }
      }
    }
  }
  &.header-search-enabled .title {
    width: 100%;
    .search-header {
      flex: 1 1 auto;
    }
  }
  .custom-hamburger {
    margin-right: 1.5em;
    .anon & {
      display: none;
    }
    @media screen and (max-width: 900px) {
      margin-right: 0.5em;
    }
    button {
      background: transparent;
      margin-left: -6px;
      white-space: nowrap;
      text-transform: capitalize;
      font-size: $font-up-1;
      color: $primary-medium;
      @media screen and (max-width: 900px) {
        .d-icon {
          font-size: $font-up-1;
          margin: 0;
        }
        .d-button-label {
          display: none;
        }
      }
      .d-icon {
        color: $tertiary;
      }
    }
  }

  a#toggle-hamburger-menu {
    display: none;
  }
  .d-header-icons {
    display: flex;
    align-items: center;
  }
  .header-username {
    margin-right: 0.25em;
    padding-top: 0.15em;
    @media screen and (max-width: 1200px) {
      max-width: 125px;
    }
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media screen and (max-width: 1000px) {
      display: none;
    }

    color: $primary-medium;
  }

  .header-dropdown-toggle {
    #toggle-help-menu {
      width: auto;
      align-items: center;
      .d-icon {
        width: 1em;
        margin-right: 0.25em;
        flex: 0 1 auto;
        font-size: 1em;
        @media screen and (max-width: 900px) {
          width: 32px;
          height: 32px;
          margin: 0;
        }
      }
    }
    #toggle-help-menu:before {
      order: 3;
      content: "Help & Support";
      display: inline;
      margin-right: 0.25em;
      padding-top: 0.15em;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    > a {
      color: $primary-medium;
    }
  }

  .search-menu.search-header {
    .anon & {
      display: none;
    }
  }

  .search-header {
    position: relative;
    margin-right: 0.5em;
    .show-header-results {
      border-radius: $border-radius;
    }
  }

  .title #search-term {
    border-color: $primary-low;
    border-radius: $border-radius;
    padding-left: 2.5em;
  }
  .search-icon {
    position: absolute;
    left: 3px;
    z-index: 2;
    background: white;
    border: none !important;
    padding: 0 0.5em;
    height: 20px !important;
    top: 1px;
    .d-icon {
      color: $primary-low-mid;
    }
  }
}

.custom-sidebar-nav {
  font-size: $font-down-1;
  padding-top: 4em;
  align-self: stretch;
  min-height: 100vh;
  background: #293042;
  .anon & {
    display: none;
  }
}

.custom-sidebar-nav-contents {
  padding: 2em 0 1em;
  position: sticky;
  top: 4em;

  h3 {
    text-transform: uppercase;
    font-size: $font-down-2;
    color: darken(#849dbc, 10%);
    padding: 0 1em;
    margin-bottom: 1em;
    &:not(:first-of-type) {
      margin-top: 2em;
    }
    body.collapse-sidebar & {
      display: none;
    }
  }

  ul {
    margin: 0 0 1em 0;
  }

  li {
    list-style-type: none;
    @media screen and (min-width: 950px) {
      white-space: nowrap;
    }
    margin-bottom: 0;

    .sidebar-nav-text {
      body.collapse-sidebar & {
        display: none;
      }
    }
    .d-icon {
      font-size: $font-up-4;
      margin-right: 0.35em;
      body.collapse-sidebar & {
        margin-right: 0;
      }
    }

    a {
      color: #849dbc;
      display: flex;
      align-items: center;
      padding: 0.4em 1em;

      &:hover {
        background: #374457;
        color: white;
      }
    }
  }
}

///

.container > .regular,
.private_message {
  background: white;
  padding: 0 1em;
}

.custom-user-sidebar {
  font-size: $font-down-1;
  padding-top: 6em;
  align-self: stretch;
  @media screen and (max-width: 890px) {
    display: none;
  }
  .archetype-regular &,
  .archetype-private_message & {
    display: none;
  }
}

.sidebar-personal-stats {
  position: relative;
  .sidebar-edit-profile {
    position: absolute;
    right: 1.25em;
    top: 1.25em;
  }
}

.custom-user-sidebar-content {
  position: sticky;
  overflow: hidden;
  top: 6em;
  min-width: 150px;
  @media screen and (min-width: 1200px) {
    width: 275px;
  }
  background: white;
  border: 1px solid $primary-low;
  border-radius: $border-radius;

  .user-sidebar-header {
    height: 65px;
    background-color: #293042;
    background-size: cover;
    border-radius: $border-radius $border-radius 0 0;
  }

  h4 {
    margin: 0;
    font-weight: normal;
  }

  .sidebar-stat {
    span,
    a {
      display: block;
      margin: 0 0 0.5em 0;
      overflow: hidden;
      @media screen and (max-width: 1100px) {
        max-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      @media screen and (max-width: 1000px) {
        max-width: 100px;
      }
    }
    &:last-of-type {
      span,
      a {
        margin-bottom: 0;
      }
    }
  }

  section {
    border-bottom: 1px solid $primary-low;
    padding: 1em 0.75em;
    &.sidebar-name,
    &.sidebar-topic-stats,
    &.sidebar-button {
      text-align: center;
    }

    &.sidebar-name {
      img {
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        margin: -40px auto 0.5em auto;
      }
      .sidebar-username {
        display: block;
        font-size: $font-up-1;
        margin-bottom: 0.25em;
      }
    }

    &.sidebar-topic-stats {
      display: flex;
      padding: 0;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;

      .sidebar-linked-stat {
        display: flex;
        flex: 0 0 50%;
        @media screen and (max-width: 1300px) {
          flex: 1 1 auto;
        }
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.75em 0.25em;
        overflow: hidden;

        &:last-of-type:not(:first-of-type) {
          border-left: 1px solid $primary-low;
        }

        .sidebar-stat-count {
          font-size: $font-up-1;
        }

        .sidebar-stat-label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          flex: 1 1 auto;
        }

        div {
          width: 100%;
        }
      }
    }

    &.sidebar-button {
      .btn {
        width: 100%;
        padding: 11px 6px 11px;
      }
    }
  }
}

// User

.user-main .about .primary {
  padding: 1em;
  box-sizing: border-box;
}

.user-content {
  padding: 1em;
  box-sizing: border-box;
}

// Categories

.navigation-categories {
  .list-header {
    display: none;
  }
  .list-container {
    background: $secondary;
    padding: 0;
  }

  #list-area {
    margin-bottom: 2em;
  }
}

.category-list {
  margin: 1em 0;
  tbody {
    border-top-width: 1px;
    .category {
      border-left: none;
    }
  }
  td:first-of-type,
  .topics {
    padding: 1em;
  }
  td.topics {
    border-left: 1px solid $primary-low;
  }
  .topics {
    text-align: center;
  }
  th {
    padding: 0 1em;
  }
}

// Modal

.fixed-modal {
  left: 0;
}
