$border-radius: 4px;

html {
  background: #eff6ff;
  .wrap {
    max-width: unset;
  }
}

.custom-top-container {
  display: flex;
}

#main-outlet.wrap {
  padding: 6em 1em 0;
}

#main > div {
  display: flex;
  box-sizing: border-box;
  max-width: calc(100vw - 25px);
}

.list-controls {
  display: none;
}

.d-header {
  box-shadow: none;
  .wrap {
    max-width: unset;
  }
  &.header-search-enabled .title {
    width: 100%;
    .search-header {
      flex: 1 1 auto;
    }
  }
  .custom-hamburger {
    margin-right: 1.5em;
    button {
      background: transparent;
      margin-left: -6px;
      text-transform: capitalize;
      font-size: $font-up-1;
      color: $primary-high;
      .d-icon {
        color: $tertiary;
      }
    }
  }

  a#toggle-hamburger-menu {
    display: none;
  }
  .d-header-icons {
    display: flex;
    align-items: center;
  }
  .header-username {
    margin-right: 1em;
    padding-top: 0.15em;

    a {
      color: $primary-medium;
    }
  }

  .header-dropdown-toggle {
    #toggle-help-menu {
      width: auto;
      align-items: center;
      .d-icon {
        width: 1em;
        margin-right: 0.25em;
        flex: 0 1 auto;
        font-size: 1em;
      }
    }
    #toggle-help-menu:before {
      order: 3;
      content: "Help & Support";
      display: inline;
      margin-right: 0.25em;
      padding-top: 0.15em;
    }

    a {
      color: $primary-medium;
    }
  }

  .search-header {
    position: relative;
    margin-right: 0.5em;
    .show-header-results {
      border-radius: $border-radius;
    }
  }

  .title #search-term {
    border-color: $primary-low;
    border-radius: $border-radius;
    padding-left: 2.5em;
  }
  .search-icon {
    position: absolute;
    left: 3px;
    z-index: 2;
    background: white;
    border: none !important;
    padding: 0 0.5em;
    height: 20px !important;
    top: 1px;
    .d-icon {
      color: $primary-low-mid;
    }
  }
}

.custom-sidebar-nav {
  font-size: $font-down-1;
  padding-top: 4em;
  align-self: stretch;
  min-height: 100vh;
  background: #293042;
}

.custom-sidebar-nav-contents {
  padding: 2em 0 1em;
  position: sticky;
  top: 4em;

  h3 {
    text-transform: uppercase;
    font-size: $font-down-2;
    color: #849dbc;
    padding: 0 1em;
    margin-bottom: 1em;
    &:not(:first-of-type) {
      margin-top: 2em;
    }
    body.collapse-sidebar & {
      display: none;
    }
  }

  ul {
    margin: 0 0 1em 0;
  }

  li {
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 0.25em;

    .sidebar-nav-text {
      body.collapse-sidebar & {
        display: none;
      }
    }
    .d-icon {
      font-size: $font-up-4;
      margin-right: 0.35em;
      body.collapse-sidebar & {
        margin-right: 0;
      }
    }

    a {
      color: #849dbc;
      display: flex;
      align-items: center;
      padding: 0.25em 1em 0.25em 1em;
      &:hover {
        background: #374457;
        color: white;
      }
    }
  }
}

///

.custom-user-sidebar {
  font-size: $font-down-1;
  padding-top: 6em;
  align-self: stretch;
  .archetype-regular &,
  .archetype-private_message & {
    display: none;
  }
}

.custom-user-sidebar-content {
  position: sticky;
  top: 6em;
  width: 275px;
  background: white;
  border: 1px solid $primary-low;
  border-radius: $border-radius;

  .user-sidebar-header {
    height: 65px;
    background-color: #293042;
    background-size: cover;
    border-radius: $border-radius $border-radius 0 0;
  }

  h4 {
    margin: 0;
    font-weight: normal;
  }

  .sidebar-stat {
    span,
    a {
      display: block;
      margin: 0 0 0.5em 0;
    }
    &:last-of-type {
      span,
      a {
        margin-bottom: 0;
      }
    }
  }

  section {
    border-bottom: 1px solid $primary-low;
    padding: 1em 0.75em;
    &.sidebar-name,
    &.sidebar-topic-stats,
    &.sidebar-button {
      text-align: center;
    }

    &.sidebar-name {
      img {
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        margin: -40px auto 0.5em auto;
      }
      .sidebar-username {
        display: block;
        font-size: $font-up-1;
        margin-bottom: 0.25em;
      }
    }

    &.sidebar-topic-stats {
      display: flex;
      padding: 0;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;

      .sidebar-linked-stat {
        display: flex;
        flex: 0 0 50%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.75em 0.25em;

        &:last-of-type:not(:first-of-type) {
          border-left: 1px solid $primary-low;
        }

        .sidebar-stat-count {
          font-size: $font-up-1;
        }

        div {
          width: 100%;
        }
      }
    }

    &.sidebar-button {
      .btn {
        width: 100%;
        padding: 10px 6px 8px;
      }
    }
  }
}
