@import "/custom-topic-list/desktop/custom-topic-list";

.below-site-everything-outlet {
  display: none;
  .navigation-topics &,
  .categories-list &,
  .about-page &,
  body[class*="category-"] &,
  body[class*="static-"] & {
    display: block;
  }
  .archetype-regular &,
  .archetype-private_message & {
    display: none !important;
  }
}

#main > div {
  max-width: calc(100vw - 25px);
}

.container > .regular,
.private_message {
  background: white;
  padding: 0 1em;
  box-shadow: 0 0 5px 0 rgba(41, 48, 65, 0.05);
}

.topic-area {
  width: calc(100% - 1em);
}

.topic-avatar {
  align-self: flex-start;
}

article > .row {
  display: flex;
  width: 100%;
}

.extra-info-wrapper .header-title {
  margin-bottom: 0;
}

.extra-info-wrapper .topic-link {
  font-size: $font-down-2;
}

.archetype-regular,
.archetype-private_message {
  .custom-top-container {
    overflow: hidden;
  }
}

.user-summary-page,
.user-activity-page,
.user-notifications-page,
.user-messages-page,
.user-invites-page,
.user-badges-page,
.user-preferences-page {
  .below-site-everything-outlet {
    display: none;
  }
}

nav.post-controls .show-replies {
  margin-left: 0.5em;
}

.discourse-no-touch .topic-body .actions .fade-out {
  opacity: 1;
}
